.index-title-bg {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1496DC;
    width: 100%;
}

.index-title-bg .temp-image {
    background-image: url('/static/imgs/mlogo.png');
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 0 auto;
}

.index-title-bg div #content-text {
    text-align: center;
    margin-top: 35px;
    color: white;
    width: 350px;
}

.index-title-bg h1 {
    margin-top: 25px;
    font-weight: 800;
    color: white;
}

.bg-data-white {
    background-color: white;
}

.desk-dash {
    background-image: url('/static/imgs/home_desk.png');
    width: 600px;
    height: 118px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.index-subimage-bg {
    display: flex;
    width: 100%;
    background-color: #1496DC;
}

.info-panel-container {
    width: 100%;
    text-align: center;
}

.info-item {
    height: 460px;
    padding: 60px 40px 40px 40px;
}

.info-item h3 {
    color: #F08380;
}

.info-item h5 {
    color: grey;
}

.info-item .disp-1 {
    background-image: url('/static/imgs/computer.png');
    width: 160px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.info-item .disp-2 {
    background-image: url('/static/imgs/network.png');
    width: 160px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.info-item .disp-3 {
    background-image: url('https://image.flaticon.com/icons/svg/562/562826.svg');
    width: 160px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.banner-container {
    height: 220px;
    background-image: url('/static/imgs/sign_up_banner.jpg');
    background-size: 55%;
    background-position: center center;
    background-repeat: repeat-x repeat-y;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.banner-container div h4 {
    margin-bottom: 25px;
    text-align: center;
    font-weight: 800;
}

.btn-sign-up-index {
    background-color: #ffbf4b;
    border: none;
    color: white;
    width: 500px;
    transition: 150ms ease-in-out;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6em;
    text-decoration: none;
}

.btn-sign-up-index:hover {
    background-color: #ffbf4b;
    transform: scale(1.03);
    text-decoration: none;
    color: white;
}

.btn-sign-up-index:focus {
    outline: none;
    box-shadow: none;
    background-color: #ffbf4b;
    color: white;
}

.btn-sign-up-index:active {
    animation: btn-clicked 350ms ease-in-out 0ms 1;
    animation-fill-mode: forwards;
    color: white;
}

.index-feature {
    padding: 30px;
    text-align: center;
}

.index-feature h1 {
    font-size: 3em;
    color: #1496DC;
    margin-top: 10px;
}

.index-feature h5 {
    color: grey;
    margin-top: 20px;
}

.feature {
    display: flex;
    max-width: 350px;
    height: 100px;
    margin-top: 30px;
    width: 100%;
}

.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image img {
    max-width: 90%;
    max-height: 90%;
}

#feature1-image {
    background: url('/static/imgs/125x125.png');
    width: 125px;
    height: 125px;
    background-size: cover;
}

.feature-text {
    display: flex;
    align-items: center;
}

@keyframes btn-clicked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.97);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 767px) {}

@media (max-width: 680px) {
    .btn-sign-up-index {
        width: 250px;
    }
}

@media (max-width: 370px) {
    .btn-sign-up-index {
        width: 150px;
    }
    .banner-container div h4 {
        font-size: 1.5em;
    }
}

.svg {
    width: 100%;
    height: 100%;
}