.about-banner {
    height: 250px;
    background: url('/static/imgs/sign_up_banner.jpg');
    width: 100%;
    background-size: 55% cover;
    background-repeat: repeat-x repeat-y;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner h1 {
    transform: scale(1.50);
    color: white;
    font-weight: 800;
}

.about-container {
    padding: 150px;
    padding-top: 50px;
}

.about-container h1 {
    text-align: center;
    position: relative;
}

.about-container p {
    transform: scale(1.2);
    margin-top: 60px;
}

.about-panel-container {
    width: 100%;
    text-align: center;
    background: #fafafa;
}

.info-item .person-1 {
    background-image: url('/static/imgs/brian.jpg');
    border-radius: 150px;
    border: 2px solid #ebebeb;
    width: 160px;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.info-item .person-2 {
    background-image: url('/static/imgs/winner.png');
    border-radius: 150px;
    border: 2px solid #ebebeb;
    width: 160px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.info-item .person-3 {
    background-image: url('/static/imgs/winner.png');
    border-radius: 150px;
    border: 2px solid #ebebeb;
    width: 160px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.about-data {
    color: #797979;
}

.about-panel-container div h1 {
    padding-top: 75px;
    padding-bottom: 25px;
}

a {
    color: #1496DC;
}

.info-item h3 {
    margin-top: 20px;
}